.breadcrum {
  background-image: url(../img/breadcrum.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.breadcrum::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.36);
  z-index: -1;
  pointer-events: none;
}

.breadcrum-link-color {
  color: #ffc50b;
}

.breadcrum-link-text {
  color: #ffffff;
}