

.our-affiliation-section .card {


   
    width: 300px;
    height: 200px;
}
 .view-site-btn{
width: 120px;

}

.our-affiliation-section .card img {
    height: 90px;
    width: auto;
}

.our-affiliation-section .card .title {
    color: #000;
}