.events-and-extra-curriculars-section .am-card {
    width: 90%;
}
.events-and-extra-curriculars-section .am-card {
    overflow: hidden;
    width: 100%;
}

.events-and-extra-curriculars-section .event-name {
    position: absolute;
    background-color: #000000;
    bottom: 0px;
    opacity: 0.7;
    padding: 5px 15px ;
    width: 100%;
}


