.footer-area.black-bg-color {
    background-color: #a51734;
}

.pb-70 {
    padding-bottom: 70px;
}

.pt-70 {
    padding-top: 70px;
}

.single-footer-widget {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}

.single-footer-widget.bg-f9f5f1 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.single-footer-widget .import-link {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.single-footer-widget .address {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.single-footer-widget p {
    margin-bottom: 25px;
    color: #fff;
}

.single-footer-widget .social-icon {
    line-height: 1;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.single-footer-widget h3 {
    font-size: 24px;
    margin-bottom: 0px;
    position: relative;
    margin-top: -5px;
    color: #fff;
}

ul li {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}
.single-footer-widget .social-icon li {
    display: inline-block;
    margin-right: 5px;
}
.single-footer-widget .address li span {
    display: block;
    margin-bottom:5px;
    font-size: 17px;
}
.single-footer-widget .address li {
    position: relative;
    margin-bottom: 11px;
    position: relative;
    padding-left: 35px;
    color: #fff;
}
.single-footer-widget .address li .icon

 {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 20px;
    transition: var(--transition);
    display: inline-block;
    color: var(--main-color);
}
.single-footer-widget.bg-f9f5f1 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.single-footer-widget {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}
.single-footer-widget .logo
 {
    margin-bottom: 20px;
    display: inline-block;
}


.single-footer-widget .social-icon li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    color: #890c25;
    position: relative;
    z-index: 1;
}
.copy-right-area {
    background-color: #890c25;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: -30px;
}

