 .doz-pre-banner{
    position: absolute;
    bottom: 30%;
    left: 14%;
    z-index: 50;
    border: 1px solid #890C25;
    padding: 5px;
    border-radius: 50px;
 }
  .doz-next-banner{
    position: absolute;
    bottom: 30%;
    right: -3%;
    z-index: 50;
    border: 1px solid #890C25;
    padding: 5px;
    border-radius: 50px;
 }
 .doz-home-ico4{
    background-color: #FF0000;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate( 180deg);
 }
 .doz-home-ico3{
    background-color: #0077B5;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate( 180deg);
 }
 .doz-home-ico2{
    /* background-color: #0077B5; */
    background: linear-gradient(45deg, #833AB4, #E1306C, #FCAF45);
    border-radius: 50px;
    padding: 5px;
     display: flex;
    justify-content: center;
    align-items: center;
     transform: rotate( 180deg);
 }
 .doz-home-ico1{
    background-color: #1877F2;
    border-radius: 50px;
    padding: 5px;
     display: flex;
    justify-content: center;
    align-items: center;
     transform: rotate( 180deg);
 }
.circle-icon-wrapper{
    position: absolute;
    top: 40%;
    left: 40%;
    height: 30px !important;
    width: 30px !important;
    /* animation: rotate 10s linear infinite; */
}
@media screen and (min-width: 0px) and (max-width: 1380px) {
    .doz-next-banner{
    position: absolute;
    bottom: 30%;
    right: -1%;
    z-index: 50;
    border: 1px solid #890C25;
    padding: 5px;
    border-radius: 50px;
 }
}
@media screen and (min-width: 1150px) and (max-width: 1200px) {
    .doz-pre-banner{
    position: absolute;
    bottom: 23%;
    left: 14%;
    z-index: 50;
    border: 1px solid #890C25;
    padding: 5px;
    border-radius: 50px;
 }
  .doz-next-banner{
    position: absolute;
    bottom: 23%;
    right: 15%;
    z-index: 50;
    border: 1px solid #890C25;
    padding: 5px;
    border-radius: 50px;
 }
}
@media screen and (min-width: 950px) and (max-width: 1149px) {
    .doz-pre-banner{
    position: absolute;
    bottom: 20%;
    left: 5%;
    z-index: 50;
    border: 1px solid #890C25;
    padding: 5px;
    border-radius: 50px;
 }
  .doz-next-banner{
    position: absolute;
    bottom: 20%;
    right: 5%;
    z-index: 50;
    border: 1px solid #890C25;
    padding: 5px;
    border-radius: 50px;
 }
}
@media screen and (min-width: 768px) and (max-width: 949px) {
    .doz-pre-banner{
    position: absolute;
    bottom: -12px;
    left: 42%;
    z-index: 50;
    border: 1px solid #890C25;
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 20px;
 }
  .doz-next-banner{
    position: absolute;
    bottom: -12px;
    right: 42%;
    z-index: 50;
    border: 1px solid #890C25;
    padding: 5px;
    border-radius: 50px;
     margin-bottom: 20px;
 }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    .doz-pre-banner{
    position: absolute;
    bottom: -10px;
    left: 36%;
    z-index: 50;
    border: 1px solid #890C25;
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 20px;
 }
  .doz-next-banner{
    position: absolute;
    bottom: -10px;
    right: 36%;
    z-index: 50;
    border: 1px solid #890C25;
    padding: 5px;
    border-radius: 50px;
     margin-bottom: 20px;
 }
}
.doz-about-para{
   border-left: 1px solid #a1a1a1;
   padding-left: 40px;
}
