
.magic-card {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.3));

}

.magic-card .magic-image{
  width: 100%;
  height: 100%;
  animation: riseIn 1s ease;
}

.magic-card .swiper-slide {
  
  height: -webkit-fill-available;
}

@keyframes riseIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    
  }
}
