.our-affiliation-section .am-card {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px;
    height: 100%;
    border-radius: 8px;
}

.our-affiliation-section .am-card img {
    height: 90px;
    width: auto;
}

.our-affiliation-section .am-card .title {
    color: #000;
}

.spacer-top,
.spacer-bottom {
  height: 100vh;
  background: #f0f0f0;
}

.horizontal-scroll-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.horizontal-scroll {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: transform 0.1s ease-out;
}

.panel {
  min-width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: linear-gradient(120deg, #e0eafc, #cfdef3);
  border-right: 2px solid #ccc;
}