 .doz-our-card{
    border: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 20px;
 }
 .skill-courses-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
}
.agriculture-course-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
}
.skills-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.iti-trades-list p {
  display: flex;
  align-items: center;
 gap: 15px;
  font-size: 16px;
  font-weight: 500;
}
.pharmacy-course-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
}
.pg-course-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.course-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;    
  font-weight: 500;
  color: #333;
}
.our-program-section .nav::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.our-program-section .nav::-webkit-scrollbar-thumb {
  background: #888;   
  border-radius: 10px;
}
.our-program-section .nav{
  overflow-x: auto;
  flex-wrap: nowrap;
  border-bottom:1px solid #969696;
}
.our-program .nav-pills .nav-link{
border-radius:0px;
}
.doz-our-con .our-program-section .nav-item{
  margin-bottom: 0px;
   margin: 0px 10px !important;
}
.our-program-section .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: transparent !important;
  color: #942911 !important;
}
.our-program-section .nav-pills .nav-link.active::before,
.our-program-section .nav-pills .show > .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 15px;
  height: 3px;
  width: 90%;
  background-color: #942911;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.our-program-section .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  white-space: nowrap;
}
.doz-our-con .nav-pills .nav-link{
  white-space: nowrap;
  color: #333 !important;
   font-size: 18px !important;
   font-weight: 500 !important;
   margin-bottom: 0;
   padding: 7px 15px;
   position: relative;
}
.our-program-section .nav-pills .nav-link.active::after,
.our-program-section .nav-pills .show > .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0px; 
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #942911; 
}
.doz-our-car{
  border:  none;
  width: 100%;
  max-height: 300px;
  min-height: 130px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.doz-our-ico-sec1{
  background-color: #E3F2FD;
  width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-ico-sec2{
  background-color: #E8F5E9;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-ico-sec3{
  background-color: #EFEBE9;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-ico-sec4{
  background-color: #E0F7FA;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-ico-sec5{
  background-color: #F3E5F5;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-ico-sec6{
  background-color: #F1F8E9;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-ico-sec7{
  background-color:#FFEBEE;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-ico-sec8{
  background-color: #E1F5FE;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-ico-sec9{
  background-color: #FFF3E0;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-ico-sec10{
  background-color: #F3E5F5;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-head{
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-bottom: 0;
  margin-top: 10px;
}
.doz-our-icoback1{
  background-color: #8e44ad;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-icoback2{
  background-color: #2980b9;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-icoback3{
  background-color: #27ae60;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-icoback4{
  background-color: #f39c12;
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-PG{
   width: 30px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doz-our-icon1{
   background-color: #4CAF50;
}
.doz-our-icon2{
   background-color: #2196F3;
}
.doz-our-icon3{
   background-color: #E91E63;
}
.doz-our-icon4{
   background-color: #8BC34A;
}
.doz-our-icon5{
   background-color: #FF9800;
}
.doz-our-icon6{
   background-color: #FF5722;
}
.doz-our-icon7{
   background-color: #9C27B0;
}
