 .doz-our-card{
    border: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 20px;
 }
 .skill-courses-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
}
.agriculture-course-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
}
.skills-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.iti-trades-list p {
  display: flex;
  align-items: center;
 gap: 15px;
  font-size: 16px;
  font-weight: 500;
}
.pharmacy-course-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
}
.pg-course-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.course-list p {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}


.our-program-section .nav{
  overflow-x: auto;
  flex-wrap: nowrap;
  border-bottom:1px solid #717171;
}
.our-program .nav-pills .nav-link{
border-radius:0px;
}
.doz-our-con .our-program-section .nav-item{
  margin-bottom: 0px;
   margin: 0px 10px !important;
}
.our-program-section .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: transparent;
  color: #26354D;
  border-bottom:2px solid #26354D !important;
}
.our-program-section .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  white-space: nowrap;
   padding: 20px 20px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 15px;
}
.doz-our-con .nav-pills .nav-link{
  white-space: nowrap;
    padding: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}
.doz-our-con ul li{
margin-left: 15px;

}
.doz-our-program{
  font-size: 20px;
}