.placement-cell-section {
    background-image: url(website/img/studentgroup.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.placement-cell-section::before {
    opacity: 0.9;
    content: "";
    background-color: #044487;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.placement-cell-section .am-card {
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    display: grid;
    place-content: center;
}

.placement-cell-section .am-card img {
    height: 100px;
    margin: auto;
}

.placement-cell-section .swiper .college-name {
    font-weight: 600;
}

.placement-cell-section .swiper-button-prev:after,
.placement-cell-section .swiper-button-next:after {
    background: #1e4aa1;
    height: 40px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    font-size: 25px;
    color: #fff;

}

.placement-cell-section .swiper-card {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    justify-content: center;
    flex-direction: column;
}

.placement-cell-section .swiper {
    padding-bottom: 30px;
}

.placement-cell-section .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
}

.placement-cell-section .swiper-pagination-bullet {
    background-color: #000000;
    opacity: 0.7;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}


.placement-cell-section .swiper-pagination-bullet-active {
    background-color: #007aff;
    opacity: 1;
    width: 20px;
    border-radius: 10px;

}

.placement-cell-section .numberOfPlacement {
    left: 50%;

}

.placement-cell-section .pillar {
    width: 40%;
    height: 350px;
    background-color: #ec3237;
    position: absolute;
    bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}

.placement-cell-section .pillar img {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
}
.placement-cell-section .pillar .title {
    
}
.placement-cell-section .pillar .label {

}


.high-package-campus-placement:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-41%,0%);
    right: 0;
    bottom: 0;
    width: 320px;
    height: 250px;
    background-image: url(website/img/girl-img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}